<nav class="navbar navbar-expand-sm navbar-light bg-light" *ngIf="currentUser?.username">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll home-ul bs-scroll-height">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#/home"><i class="fa fa-home"></i></a>
        </li>
        <ul class="navbar-nav me-auto  my-lg-0 navbar-nav-scroll bs-scroll-height">
          <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="requirement" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" translate>
              header.requirement
            </a>
            <ul class="dropdown-menu" aria-labelledby="requirement">
              <li><a class="dropdown-item" href="#/calc" translate>header.demandCalculation</a></li>
              <li><a class="dropdown-item" href="#/calculationPregnancy" translate>header.calculationPregnancy</a></li>
              <li><a class="dropdown-item" href="" translate>header.newPeriod</a></li>
              <li><a class="dropdown-item" href="#/payment-days" translate>header.paymentDays</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll bs-scroll-height">
          <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="payments" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" translate>
              header.payments
            </a>
            <ul class="dropdown-menu" aria-labelledby="payments">
              <li><a class="dropdown-item" href="#/formationPayments" translate>header.formationPayments</a></li>
              <li><a class="dropdown-item" href="#/form7" translate>header.form7d</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll bs-scroll-height">
          <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="reports" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" translate>
              header.reports
            </a>
            <ul class="dropdown-menu reports" aria-labelledby="reports">
              <li *ngFor="let rep of repList" style="font-size: 10px!important;">
                <a class="dropdown-item" href="#">
                  {{rep?.nameRu}} <i *ngIf="rep?.children?.length > 0" class="fa fa-arrow-right"></i>
                </a>
                <ul class="dropdown-menu dropdown-submenu" *ngIf="rep?.children?.length > 0"
                    style="font-size: 10px!important;">
                  <li>
                    <a class="dropdown-item" (click)="getRepParam(child); openModal(template)"
                       *ngFor="let child of rep?.children">{{child?.nameRu}}</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll bs-scroll-height">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#/order">
              <i class="fa fa-file-excel-o fa-1x"></i>
            </a>
          </li>

          <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdownLang" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{this.langValue}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdownLang">
              <li><a class="dropdown-item" (click)="onChange($event)" [id]="i.code"
                     *ngFor="let i of this.util.getLang()">{{i.value}}</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav me-auto my-lg-0 navbar-nav-scroll bs-scroll-height">
          <li class="nav-item dropdown float-end">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Центр
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="left: -60px">
              <!--              <li><a class="dropdown-item" href="" translate>header.changePass</a></li>-->
              <li><a class="dropdown-item" href="" translate>header.fl</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logout()" translate>header.logout</a></li>
            </ul>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Параметры отчета</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="appForm">
      <div class="form-group" *ngFor="let data of repParList">
        <label class="control-label col-sm-6" for="email">{{data.name}}</label>
        <div class="col-sm-6">
          <input type="text" *ngIf="data.tip == 'D'" class="form-control" bsDatepicker [formControlName]="data.formName"
                 #ru="bsDatepicker">

          <ng-select *ngIf="data.dic"
                     [items]="data.dic"
                     [formControlName]="data.formName"
                     bindValue="id"
                     bindLabel="nameRu">
          </ng-select>

          <input type="checkbox" *ngIf="data.tip == 'P'" [formControlName]="data.formName">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary float-end" (click)="submit();modalRef.hide();">OK</button>
    <button class="btn btn-primary float-end" (click)="modalRef.hide()">Отмена</button>
  </div>
</ng-template>
