<section class="block">
  <div class="card row">
    <h5 class="title" translate>Таблица заказов</h5>
    <div class="row">
      <div class="col-sm">
        <table class="table table-striped">
          <thead>
          <tr>
            <th translate>paymentDays.month</th>
            <th translate>paymentDays.date</th>
            <th translate>paymentDays.begin</th>
            <th translate>paymentDays.end</th>
            <th translate>paymentDays.status</th>
            <th translate>paymentDays.action</th>
          </tr>
          </thead>
          <tbody style="cursor: pointer; ">
<!--          <tr *ngFor="let node of data;let i = index">-->
<!--            <td>{{node.payMonthChar}}</td>-->
<!--            <td style="color: #00b2a8">{{node.payDayChar}}</td>-->
<!--            <td>{{node.stageBegin}}</td>-->
<!--            <td>{{node.stageEnd}}</td>-->
<!--            <td>{{node.statusLockDecode}}</td>-->
<!--            <td>-->
<!--              <div class="dropdown">-->
<!--                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"-->
<!--                        data-bs-toggle="dropdown" aria-expanded="false" translate>-->
<!--                  paymentDays.action-->
<!--                </button>-->

<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
