<section class="block">
  <div class="card row">
    <h5 class="title" translate>paymentDays.title</h5>
    <div class="col-sm-1"></div>
    <div class="col-sm">
      <div class="row my-1">
        <div class="col-sm">
          <label translate>paymentDays.month</label>
          <div class="row">
            <div class="col-sm-3">
              <input type="text" [(ngModel)]="payMonth"
                     [bsConfig]="{dateInputFormat: 'MM.YYYY', maxDate: maxDate, isAnimated: true}"
                     (onShown)="onOpenCalendar($event)" class="form-control" bsDatepicker
                     #ru="bsDatepicker">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <table class="table table-striped">
            <thead>
            <tr>
              <th translate>paymentDays.month</th>
              <th translate>paymentDays.date</th>
              <th translate>paymentDays.begin</th>
              <th translate>paymentDays.end</th>
              <th translate>paymentDays.status</th>
              <th translate>paymentDays.action</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer; ">
            <tr *ngFor="let node of data;let i = index">
              <td>{{node.payMonthChar}}</td>
              <td style="color: #00b2a8">{{node.payDay}}</td>
              <td>{{node.stageBegin}}</td>
              <td>{{node.stageEnd}}</td>
              <td>{{node.statusLockDecode}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                          data-bs-toggle="dropdown" aria-expanded="false" translate>
                    paymentDays.action
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" translate>paymentDays.actionF</a></li>
                    <li><a class="dropdown-item" translate>paymentDays.newPayDay</a></li>
                    <li><a class="dropdown-item" translate>paymentDays.dropPayDay</a></li>
                    <li><a class="dropdown-item" translate>paymentDays.changeLevel</a></li>
                    <li><a class="dropdown-item" translate>paymentDays.sendEnpf</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</section>
