<section class="block">
  <div class="card row">
    <h5 class="title" translate>header.demandCalculation</h5>
    <div class="col-sm-1"></div>
    <div class="card-body">
      <div class="col-sm">
        <div class="row p-1">
          <div class="col-sm">
            <label translate>paymentDays.month</label>
            <div class="row">
              <div class="col-sm-3">
                <input type="text" [(ngModel)]="payMonth"
                       [bsConfig]="{dateInputFormat: 'MM.YYYY', maxDate: maxDate, isAnimated: true}"
                       (onShown)="onOpenCalendar($event)" class="form-control" bsDatepicker
                       #ru="bsDatepicker">
              </div>
              <div class="col-sm">
                <button class="btn btn-sm btn-primary btn-200" [disabled]="this.selectedbranch==null"
                        (click)="openModal(template);">Ok
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-1">
          <div class="col-sm">
            <db-angular-tree-grid #angularGrid
                                  [data]="data || []"
                                  (cellclick)="selectCol($event)"
                                  [configs]="configs">
            </db-angular-tree-grid>
          </div>
        </div>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</section>
<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Вы действительно хотите выполнить расчёт потребности за {{formateDate}} по
      отделению {{selectedbranch}}?</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary float-end" (click)="modalRef.hide();estimateNeed()">OK</button>
    <button class="btn btn-primary float-end" (click)="modalRef.hide()">Отмена</button>
  </div>
</ng-template>
