.block {
  margin: 30px;
  min-width: 505px;
}

.title {
  margin: 10px;
  font-weight: bold;
}

.btn-200 {
  width: 100px;
}

.enter-btn {
  background-color: #00b2a8;
  outline-color: #00b2a8;
  border-color: #00b2a8;
}
